@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Azeret Mono", monospace;
}

/* header-main-container */
.header-main-container{
    /* border: 2px solid red; */
    max-width: 1440px;
    height: 652px;
    background-image: url(/assets/Hero-bg.png);
      
}

.header-sub{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 998px;
    height: 581px;
    /* border: 2px solid green; */
    adding: 0px;
    position: absolute;
    width: 998px;
    height: 582px;
    left: 121px;
     right: 221px;
    top: 50px;
     bottom: 3506px;
}

.header-img{
    width: 240px;
    height: 240px;
    left: 257%;
    right: -257%;
    transform: rotate(180deg);
    top: 0%;
    bottom: 0%;

}

.header-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
}

.header-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}

.header-btn{
    position: static;
width: 208px;
height: 66px;
border-radius: 8px;
}


/* main */
.main{
    border: 16px ;
    padding: 80px, 97px;
    width: 1140px;
    margin-top: 40px;
    margin-left: 40px;
height: 1395px;
left: 148px;
right: 52px;
top: 857px;
bottom: 2993px;
border-radius: 16px;

background: rgba(13, 19, 33, 0.02);
}

.main=02{
    position: static;
width: 946px;
height: 1235px;
}
.main-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}


/* main=03 */
.main-03{
    display: flex;
    width: 850px;
    height: 240px;  
    padding: 48px;
    border: 16px ;
    padding: static;
    margin-left: 60px;
    justify-content: space-between;
}

.main-03-title{
    position: static;
width: 377px;
height: 40px;

}

.main-btn{
    margin-top: 30px;
    position: static;
width: 150px;
height: 48px;
}

.youtube-video{
    
    position: static;
    width: 1076px;
height: 550px;
    margin-left: 25%;
    border-radius: 16px;
}

.my-current-target{
    position: static;
width: 1140px;
height: 463px;
border: 2px solid red;

}
.my-current-target-next{
    display: flex;
}

.my-current-target-text{
    position: static;
width: 946px;
height: 115px;
margin: auto;
}

.text{
    position: static;
width: 284px;
height: 220px;
}

.des{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 10px;
font-weight: 400;
line-height: 26px;
opacity: 0.7;

text-align: left;
}

.target-btn{
    Font: Azeret Mono
Font weight: 700
Font size: 16pxpx
Row height: 19px

rgb(13, 19, 33)
Align: Align left
}




