@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Azeret Mono", monospace;
}

/* header-main-container */
.header-main-container{
    /* border: 2px solid red; */
    max-width: 1440px;
    height: 652px;
    background-image: url(../assets/Hero-bg.png);
    margin: auto;
}

.header-sub{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 998px;
    height: 581px;
    /* border: 2px solid green; */
    margin: auto;
    /* text-decoration: none; */
    
    left: 121px;
    right: 221px;
    top: 50px;
    bottom: 3506px;
}

.header-img{
    width: 240px;
    height: 240px;
    left: 257%;
    right: -257%;
    transform: rotate(180deg);
    

}

.header-title{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;

text-align: center;
margin: auto;
}

.header-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;

text-align: center;
opacity: 0.7;
}

.header-btn{
    position: static;
width: 208px;
height: 66px;
border-radius: 8px;
/* text-decoration: none; */
}
 

/* main */
.main{
    border: 16px ;
    padding: 80px, 97px;
    width: 1140px;
    margin: auto;
    /* margin-top: 40px;
    margin-left: 40px; */
/* height: 1395px; */
   left: 148px;
   right: 52px;
    top: 857px;
   bottom: 2993px;
   border-radius: 16px;

   background: rgba(13, 19, 33, 0.02);
}

.main=02{
    position: static;
    
   width: 946px;
   height: 1235px;
 
}
.main-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;

text-align: center;
}


/* main=03 */
.main-03{
    display: flex;
    width: 850px;
    height: 240px;  
    padding: 48px;
    border: 16px ;
    padding: static;
    margin-left: 60px;
    justify-content: space-between;
    border-radius: 16px;
}
/* .main-03-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    
} */
.main-03-title{
    position: static;
width: 377px;
height: 40px;

}



.main-btn{
    margin-top: 30px;
    position: static;
width: 150px;
height: 48px;
}

.youtube-video{
    
    position: static;
    margin: auto;
    /* margin-left: auto; */
    border-radius: 16px;
}

.my-current-target{
    position: static;
width: 1080px;
height: 463px;
border: 2px;
/* margin: auto; */


}
.my-current-target-next{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
    
    
}

.my-current-target-text{
    position: static;
    
width: 946px;
height: 115px;
margin: auto;

}

.text{
    position: static;
width: 284px;
height: 220px;
}

.my-current-target-img{
    background-color: rgba(255, 76, 30, 0.05)
}

.des{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 10px;
font-weight: 400;
line-height: 26px;
opacity: 0.7;

text-align: left;
}

.target-btn{
    Font: Azeret Mono
Font weight: 700
Font size: 16pxpx
Row height: 19px

rgb(13, 19, 33)
Align: Align left
}


/* footer-content */
.footer-content{
    border: 2px;

    border-radius: 16px;
   padding: 64px, 48px;
   /* margin-top: 25px;
    margin-left: 5%; */
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 1140px;
  height: 314px;
 margin-bottom: 25px;
  background-image: url(../assets/handshake.jpg);

}

.footer-content-text{
   width: 730px;
   height: 104px;
   margin: auto;
   margin-top: 10px;
   border: 1px;

}

.footer-title{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;

text-align: center;
}

    
.footer-description{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;

text-align: center;
opacity: 0.7;
}

.form{
    width: 548px;
    height: 57px;
    margin-left: 30%;
}
.form-out{
    width: 1048px;
    height: 47px; 
}

.end{
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    /* padding: 32px 150px 32px 150px; */
    background: rgba(13, 19, 33, 0.03);
    margin: auto;
    width: 1080px;
    height: 36px;
}





